extends ../shared/template
block content
  h2 Fakebook
  .panel.panel-default
    .panel-body
      h4 The anti-social Network
      ul
        li Make a profile to share your picture, facebook, and twitter
        li Send messages to your friends, as well as text and email!
        li See the amount of unread messages you have from any page.
        li Contact: Mikey Badr, 
          a(href='http://twitter.com/mikeybadr') @MikeyBadr, 
          a(href='mailto:mfbadr@gmail.com') mfbadr@gmail.com

block scripts
  script(src='/js/user/home.js')

