extends ../shared/template
block content
  h2 Fakebook
  .panel.panel-default
    .panel-body
      h4 The anti-social Network
      ul
        li Make a profile to share your picture, facebook, and twitter
        li Send messages to your friends, as well as text and email!
        li See the amount of unread messages you have.
        li
        li: a(href='http://www.blacktie.co/', target='_blank') http://www.blacktie.co/
        li: a(href='https://bootstrapmaster.com/', target='_blank') https://bootstrapmaster.com/
        li: a(href='http://bootstrapstyler.com/', target='_blank') http://bootstrapstyler.com/
      h4 Favicon Generators
      ul
        li: a(href='http://www.favicon.cc/', target='_blank') http://www.favicon.cc/

block scripts
  script(src='/js/user/home.js')

